@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #E3D6C8;
}

header {
    min-height: 100vh;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 1300px;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    color: #852308;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.navbar ul {
    display: flex;
    align-items: center;
}

.navbar ul li {
    padding: 0 20px;
    font-size: 20px;
}

.navbar ul li a {
    color: #af6325;
    font-weight: 600;
}

.navbar ul li a:hover {
    color: #76420C;
    transition: .3s;
}

#menu {
    display: none;
}

.icono-menu {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.contenido-header {
    display: flex;
    margin-top: 150px;
}

.header-txt {
    flex-basis: 50%;
    padding-right: 120px;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 70px;
    color: #76420C;
    margin-bottom: 15px;
}

.header-txt .palabras {
    color: #99644a;
    font-style: normal;
}

.header-txt p {
    font-size: 20px;
    color: #3f3f3f;
    margin-bottom: 50px;
}

.btn {
    display: inline-block;
    padding: 13px 30px;
    background-color: #B6846B;
    color: #FFFFFF;
    border-radius: 25px;
}

.btn:hover {
    background-color: #91624a;
    transition: .3s;
}

.header-img {
    flex-basis: 50%;
}